<footer class="container-fluid">
    <div class="container">
        <div class="row">

            <div class="col-12 d-flex justify-content-center">
                <a href="https://open.spotify.com/artist/1U9J6D5J0m5B8R48KzUyOs" class="text-black fs-2 me-2" target="_blank" aria-label="Hazzerd Spotify" rel="noopener" rel="noreferrer"><i class="fab fa-spotify footer-social-icon"></i></a>
                <a href="https://hazzerdthrash.bandcamp.com/" class="text-black fs-2 me-2" target="_blank" aria-label="Hazzerd Bandcamp" rel="noopener" rel="noreferrer"><i class="fab fa-bandcamp footer-social-icon"></i></a>
                <a href="https://www.facebook.com/HazzerdThrash" class="text-black fs-2 me-2" target="_blank" aria-label="Hazzerd Facebook" rel="noopener" rel="noreferrer"><i class="fab fa-facebook footer-social-icon"></i></a>
                <a href="https://www.youtube.com/user/TheParanormal4/videos" class="text-black fs-2" target="_blank" aria-label="Hazzerd YouTube" rel="noopener" rel="noreferrer"><i class="fab fa-youtube footer-social-icon"></i></a>
            </div>

            <div class="col-12">
                <p class="text-center">Copyright &copy; 2022</p>
            </div>

        </div>
    </div>
</footer>