<%- include("partials/head")%>
<body>
    <%- include("partials/navbar")%>

    <main role="main">
        <section class="container-fluid">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h1>Discography</h1>
                    </div>
                </div>
    
                <!-- Row 1 Start -->
                <div class="row">
                    <div class="col-md-6 mb-3 text-center">
                        <h2>Delirium</h2>
                        <img class="w-75" src="/assets/img/delirium-album-cover.jpg" alt="Delirium album cover">
                        <p class="lead"><em>2020</em></p>
                    </div>
    
                    <div class="col-md-6 mb-3 text-center">
                        <h2>Misleading Evil</h2>
                        <img class="w-75" src="/assets/img/misleading-evil-album-cover.jpg" alt="Misleading Evil album cover">
                        <p class="lead"><em>2017</em></p>
                    </div>
                </div>
                <!-- Row 1 End -->
    
                <!-- Row 2 Start -->
                <div class="row">
                    <div class="col-md-6 mb-3 text-center">
                        <h2>Victimize the Innocent</h2>
                        <img class="w-75" src="/assets/img/victimize-the-innocent-album-cover.jpg" alt="Victimize the Innocent album cover">
                        <p class="lead"><em>2014</em></p>
                    </div>
                <!-- Row 2 End -->
            </div>
        </section>
    </main>

    <%- include("partials/footer")%>
</body>
</html>