<%- include("partials/head")%>
<body>
    <%- include("partials/navbar")%>

    <main role="main">
        <section class="container-fluid">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h1>Hazzerd</h1>
                        <p class="lead">Four piece thrash metal band reigning down from Calgary, Alberta, Canada!</p>
                        <img class="w-100" src="/assets/img/hazzerd-band.jpg" alt="Hazzerd Band">
                    </div>
                </div>
            </div>
        </section>
    </main>

    <%- include("partials/footer")%>
</body>
</html>