<%- include("partials/head")%>
<body>
    <%- include("partials/navbar")%>

    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1>Hazzerd</h1>
                    <p class="lead">Four piece thrash metal band reigning down from Calgary, Alberta, Canada!</p>
                    <img src="/assets/img/hazzerd-band.jpg" alt="Hazzerd Band">
                </div>
            </div>
        </div>
    </div>


<!-- 
    <h2> <%= 56 + 60 %> </h2>

    <form action="http://localhost:3000/tacos" method="POST">
        <input type="text" name="meat" placeholder="Type of meat">
        <input type="number" name="qty" placeholder="Quantity">
        <button>Submit</button>
    </form> -->
    <%- include("partials/footer")%>
</body>
</html>