<%- include("partials/head")%>
<body>
    <%- include("partials/navbar")%>
    <h1>Browsing: <%= subreddit %></h1>
    <% if(subreddit % 2 === 0){ %>
        <h2>EVEN NUMBER</h2>
    <% } %>
</body>
</html>